<div class="container">

    <div class="card">
        <div class="card-body">
          <h3 class="card-title font-weight-bold"> About Hospital:</h3>
          <p class="card-text">MEDICARE HOSPITAL situated at NHA Ansal Township, sec- 19, 
            Rewari Haryana, 123401, which is located in the main city, Rewari. 
            Medicare Hospital is a multi speciality 50 bedded unit with ultra modern 
            equipments and facility to serve the mankind with their different specialties. 
            Medicare hospital have an infrastructure of high-tech equipments along with deluxe Rooms, 
            Pvt AC rooms, ICU, NICU, Modular Operation theatre, Emergency, In-house Laboratory, In-house pharmacy, 
            Digital X – Ray, Physiotherapy, In-house Canteen services, Centralized oxygen supply, 24 hrs Ambulances, 
            24 hrs power backup, computerized billing etc. Medicare Hospital serving the mankind with their all specialized 
            and super specialized departments like Paediatric, gynae and obsterics, General Surgery, General Medicines, 
            Intensive Care, Neonatal intensive care, Orthopedic, Dentistry, Gastroenterology, Pathology, Ophthalmology and Physiotherapy.</p>
        </div>
      </div>
      

      <div class="card">
      <div class="card-body">
        <h3 class="card-title font-weight-bold"> Vision:</h3>
        <p class="card-text">Our vision to be recognized as an excellent medical health care with highest standard, quality and technologies</p>
      </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h3 class="card-title font-weight-bold"> Mission:</h3>
          <p class="card-text">Medicare Hospital is committed to provide excellent health care services of highest standards in a 
            comprehensive manner to every patient with special focus on quality, service excellence,
             state of art medical technology, efficient workforce and ethical practices to provide highest degree of patient satisfaction.</p>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <div class="card-header font-weight-bold">
            Why Choose Us:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Technical Excellence</li>
          <li class="list-group-item">World-Class Ambience</li>
          <li class="list-group-item">Highly-experienced medical specialist</li>
          <li class="list-group-item">Round-the-clock Medical Assistance</li>
           <li class="list-group-item">Safety surveillance</li>
        </ul>
      </div>


<div class="row text-center m-auto">
  <a routerLink="/">
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
      <mat-label class="mt-3">HomePage</mat-label>
    </button>
  </a>
</div>
</div>
