<div class="container">
    <div class="mx-5 card-block">
        <div class="card-deck">

            <div class="row  mx-auto px-auto my-auto">
                <div class="card">
                    <a routerLink="/addDoctor">
                        <img src="../../../assets/images/AddDoctor.jpg" alt="no image" height="130px" width="270px"
                            class="px-auto responsive">
                        <div class="card-body text-light text-center">
                            <p class="card-text font-weight-bold">Add Doctor</p>
                        </div>
                    </a>
                </div>

                <div class="card bg-warning">
                    <a routerLink="/showDoctor">
                        <img src="../../../assets/images/doctor.jpg" alt="no image" height="130px" width="270px"
                            class="pl-auto responsive">

                        <div class="card-body text-light text-center">
                            <p class="card-text  font-weight-bold">Show Doctor</p>
                        </div>
                    </a>
                </div>

                <div class="card bg-primary">
                    <a routerLink="/doctors-list">
                        <img src="../../../assets/images/doctors.jpg" alt="no image" height="130px" width="270px"
                            class="pl-auto responsive">
                        <div class="card-body text-light text-center">
                            <p class="card-text font-weight-bold">Doctors List</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row mx-auto my-4">
                <div class="card bg-success">
                    <a routerLink="/addPatient">
                        <img src="../../../assets/images/AddPatient.jpg" alt="no image" height="130px" width="270px"
                            class="pl-auto responsive">

                        <div class="card-body text-light text-center">
                            <p class="card-text font-weight-bold">Add Patient</p>
                        </div>
                    </a>
                </div>

                <div class="card bg-info">
                    <a routerLink="/showPatient">
                        <img src="../../../assets/images/showPatient.jpg" alt="no image" height="130px" width="270px"
                            class="pl-auto responsive">

                        <div class="card-body text-light text-center">
                            <p class="card-text font-weight-bold">Show Patient</p>
                        </div>
                    </a>
                </div>

                <div class="card bg-secondary">
                    <a routerLink="/patients-list">
                        <img src="../../../assets/images/patients.jpg" alt="no image" height="130px" width="270px"
                            class="pl-auto responsive">
                        <div class="card-body text-light text-center">
                            <p class="card-text font-weight-bold">Patients list</p>
                        </div>
                    </a>
                </div>
                <!--end of cards-->
            </div>
        </div>
    </div>
</div>